.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.grid {
  align: center;
  display: grid;
  margin-bottom: 20px; /* Adds space between the grid and the dimension box */
  border: 10px solid #ccc; 
  
}

.dimension-box {
  margin-top: 20px;     /* Adds additional space above the dimension box */
}
