:root {
  /* 
    Constant color definitions
  */
  --unit-background: rgba(30, 30, 30, 0.8);
  --app-background: rgb(101, 117, 145);
  --text-color: rgb(235, 235, 235);
  --highlight-color: rgb(255, 50, 0);

  /* 
    Constants (values)
  */
  --border-radius: 50px;
  --grid-border: 10px;
}


/*
  Main App CSS
*/
.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh; 
  width: 100%;
  background-color: var(--app-background);
}

.header {
  /*
    Always centered 
  */
  position: absolute;
  top: 1%;
  left: 50%;
  transform: translateX(-50%);
  color: var(--text-color);
}

/*
  Contains:
    Island Visualizer
    Dimensions Editing boxes
    Island Count Display
*/
.content-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
  align-items: flex-start;
  gap: 20px;
  padding: 80px;
}

/*
  Interactive Island Grid
*/
.grid {
  display: grid;
  border: var(--grid-border) solid var(--unit-background);
  border-radius: var(--border-radius);
  max-width: 100%; 
  max-height: 80vh; 
  overflow: auto; 
  z-index: 10;
}

/*
  Dimensions Input Boxes Display
*/
.dimension {
  display: flex;
  flex-direction: column;
  gap: 33px;
  padding: 70px;
  background-color: var(--unit-background);
  border-radius: var(--border-radius);
  align-items: center;
}

.input-group {
  display: grid;
  gap: 10px;
  width: 60%;
  align-items: center;
  text-align: center;
  color: var(--text-color);
}

.input-group label {
  font-size: 30px;
  font-weight: bold;
}

.input-group input {
  width: 100%;
  text-align: center;
  font-size: 20px;
  border: 1px solid #ccc;
  border-radius: var(--border-radius);
}

.button-group {
  display: flex;
  gap: 30px;
  justify-content: center;
}

.change-button {
  height: 50px;
  width: 50px;
}

/*
  Island Count Display
*/
.island-count {
  padding: 58px;
  background-color: var(--unit-background);
  border-radius: var(--border-radius);
  text-align: center;
  color: var(--text-color);
}

.reset-button {
  color: var(--highlight-color);
  height: 50px;
  width: 50px;
  border-radius: var(--border-radius);
  padding: 20px;
}

/*
  Tutorial Button and overlay settings
*/
.tutorial-button {
  width: 100%;
  padding: 20px;
  margin-top: 30px;
  background-color: var(--unit-background);
  border-radius: var(--border-radius);
  text-align: center;
  color: var(--text-color);
  border-color: var(--highlight-color);
}

.highlight {
  position: relative;
  z-index: 1000;
  box-shadow: 0 0 0 9999px rgba(0, 0, 0, 0.7);
}

.tutorial-overlay {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  padding: 20px;
  border-radius: var(--border-radius);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  z-index: 1001;
}

/*
  Purely Cosmetic:
    Remove number input arrow keys
*/

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}