.App {
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid {
  align: center;
  display: grid;
  grid-template-columns: repeat(2, 100px); /* 2 columns */
  grid-template-rows: repeat(2, 100px);    /* 2 rows */
}

